

      <div class="page-header row">

       <div class="col-md-10">
       <h1 class="user_name">Tobe, the root user</h1>
       </div>

        <div class="col-md-22 input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" class="form-control" placeholder="" ng-model="search" autofocus>
        </div>

    </div>

 <!-- Display all items -->
 <div ng-controller="PhoneListCtrl">

  <ul class="timeline">
    <li ng-class-even="'timeline-inverted'" ng-repeat="phone in filter_phones = (phones | filter: search)">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
         <div class="timeline-panel">
         <img class="timeline-image" ng-src={{phone.image_url}}>
         <div class="timeline-body">
           <p>{{phone.snippet}}</p>
         </div>
         </div>
    </li>

    <!-- If no item inserted -->
    <li ng-show="!phones.length">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
         <div class="timeline-panel">
         <img class="timeline-image" src="image/pikachu.gif">
         <div class="timeline-body">
          <h2>Pikachu say it's empty. Add one!</h2>
         </div>
    </li>

    <!-- If has items -->
    <li ng-show="phones.length && filter_phones.length">
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
    </li>

  </ul>

  <!-- If no item when search -->
  <div ng-hide="filter_phones.length || !phones.length">
  <ul class="timeline">
       <li>
          <div class="timeline-badge"><a href="javascript:document.location.reload();" onclick="window.status='Refresh'; return true"><i class="glyphicon glyphicon-check"></i></a></div>
         <div class="timeline-panel">
         <img class="timeline-image" src="image/pikachu.gif">
         <div class="timeline-body">
          <h2>Pikachu say no item matches. Refresh!</h2>
        </div>
       </li>
   </ul>

</div>
