
<!DOCTYPE html>
<!-- Use angular and named mycomputer -->
<html ng-app="mycomputer">
  <head>
    <title>mycomputer</title>
    <meta charset="UTF-8">
    <base href="/">

    <!-- Css -->
    <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- JavaScript -->
    <script src="static/bower_components/angular/angular.min.js"></script>
    <script src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script src="static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
  </head>

  <body>
    <!-- No header -->

    <!-- Angular views, more on static/js/app.js -->
    <div class="my_container">
      <div ng-view></div>
    </div>

    <!-- No footer -->
  </body>
</html>
