
<!-- The home page to present information of mycomputer.xyz in timeline-->
<div ng-controller="HomeController">
  <ul class="timeline">
    <!-- Introduce mycomputer.xyz -->
    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-user"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">分享你的品质生活</h3>
          <h3><small>Share your enviable life</small></h3>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-leaf"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">MyComputer.xyz是开源网站</h3>
          <h3><small>It's 100% open source in <a href="https://github.com/tobegit3hub/mycomputer">github.com</a></small></h3>
        </div>
      </div>
    </li>

    <!-- Recommand offical users -->
    <li>
      <div class="timeline-badge primary"><i class="glyphicon glyphicon-phone"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">你可以重新感受苹果或小米的产品</h3>
          <h3><small>You can feel for products of Apple or Xiaomi</small></h3>
        </div>
        <hr/>
        <div class="timeline-body">
          <p><a href="/apple">mycomputer.xyz/apple</a></p>
          <p><a href="/xiaomi">mycomputer.xyz/xiaomi</a></p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">也可以重温你的童年乐趣</h3>
          <h3><small>Or relive your precious memory</small></h3>
        </div>
        <hr/>
        <div class="timeline-body">
          <p><a href="/水浒传">mycomputer.xyz/水浒传</a></p>
          <p><a href="/pikachu">mycomputer.xyz/pikachu</a></p>
	  <p><a href="/tobe_pokemon">mycomputer.xyz/tobe_pokemon</a></p>
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-star"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">你可以了解博主的生活追求</h3>
          <h3><small>You can know about more my life</small></h3>
        </div>
        <hr/>
        <div class="timeline-body">
          <p><a href="/who_use_it">mycomputer.xyz/who_use_it</a></p>
          <p><a href="/tobe">mycomputer.xyz/tobe</a></p>
          <p><a href="/linus">mycomputer.xyz/linus</a></p>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-heart"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">也可以看看别人的穿衣打扮</h3>
          <h3><small>Or see the clothers of others</small></h3>
        </div>
        <hr/>
        <div class="timeline-body">
          <p><a href="/wawa">mycomputer.xyz/wawa</a></p>
	  <p><a href="/tobe_clothes">mycomputer.xyz/tobe_clothes</a></p>
        </div>
      </div>
    </li>

    <!-- Sign up or login -->
    <li>
      <div class="timeline-badge primary"><i class="glyphicon glyphicon-cog"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">马上登陆或者注册</h3>
          <h3><small>Sign up or login now</small></h3>
        </div>
        <hr/>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="username" placeholder="Username" required>
          <span class="input-group-btn">
            <a ng-href="/{{username}}"><button class="btn btn-default" type="button">Go</button></a>
          </span>
        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-user"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">修改操作请联系管理员</h3>
          <h3><small>Please contact administrator</small></h3>
        </div>
        <hr/>
        <div class="timeline-body">
          <ul class="list-unstyled">
            <li><a href="mailto:tobeg3oogle@gmail.com?Subject=mycomputer.xyz" target="_top">tobeg3oogle@gmail.com<a/></li>
            <li><a href="mailto:1427077943@qq.com?Subject=mycomputer.xyz" target="_top">1427077943@qq.com</a></li>
          </ul
        </div>
      </div>
    </li>

    <!-- Display comments -->
    <li ng-class-even="'timeline-inverted'" ng-repeat="comment in comments track by $index">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">Comment #{{comment.Id}}</h3>
        </div>
        <div class="timeline-body">
          <p>{{comment.Content}}</p>
        </div>
      </div>
    </li>

    <!-- Add comment -->
    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h3 class="timeline-title">留下你的“到此一游”</h3>
          <h3><small>Leave your comment</small></h3>
        </div>
        <hr/>
        <div class="timeline-body">
          <form class="form" action="/api/comment" method="post" id="comment" role="form">
            <textarea name="content" rows="4" type="comment" class="form-control" placeholder="I think I wonder if I know ..." required></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Comment</button>
          </form>
        </div>
      </div>
    </li>
  </ul> <!-- End of the brilliant timeline unordered list -->
</div> <!-- End of this angular page -->
