
<!-- The user items page to display all items of the user -->
<div ng-controller="UserItemsController">

  <!-- User profile header -->
  <div class="page-header row">
    <!-- User name and description -->
    <div class="col-md-6">
      <div ng-show="user">
        <span class="user_name">{{user.Name}}&nbsp;&nbsp;<small><i>{{user.Description}}</i><small></span>
      </div>
      <!-- If has no use, Todo: add button to add user
      <div ng-show="!user">
        <span class="user_name">No such user</span>
      <div> -->
    </div>

    <!-- Gravatar image -->
    <div class="col-md-4">
      <gravatar-image email={{user.Email}} size="50"></gravatar-image>
    </div>

    <!-- Search button with Bootstrap -->
    <div class="col-md-22 input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
      <input type="text" class="form-control" placeholder="" ng-model="search" autofocus>
    </div>
  </div>

  <!-- Display all items which are images and descriptions-->
  <ul class="timeline">
    <!-- Normal view for search items -->

    <li ng-class-even="'timeline-inverted'" ng-repeat="item in filter_items = (items | filter: search) track by $index">
      <div class="timeline-badge info"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <img class="timeline-image" ng-src={{item.Image}}>
        <div class="timeline-body">
          <p>{{item.Description}}</p>
        </div>
      </div>
    </li>

    <!-- If has no item, add a pikachu item to add item -->
    <li ng-show="!items.length">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-heart"></i></div>
      <div class="timeline-panel">
        <img class="timeline-image" src="/static/image/pikachu.gif">
        <div class="timeline-body">
          <h2>Pikachu says it's empty. Add one!</h2>
        </div>
      </div>
    </li>

    <!-- If not search, add a button to add item -->
    <li ng-show="items.length == filter_items.length">
      <div class="timeline-badge primary"><i class="glyphicon glyphicon-edit"></i></div>
    </li>


    <!-- If has items but search no item, add pickchu item to refresh -->
    <li ng-hide="filter_items.length || !items.length">
      <div class="timeline-badge warning">
        <a href="javascript:document.location.reload();" onclick="window.status='Refresh'; return true"><i class="glyphicon glyphicon-refresh"></i></a>
      </div>
      <div class="timeline-panel">
        <img class="timeline-image" src="/static/image/pikachu.gif">
        <div class="timeline-body">
          <h2>Pikachu says no item matches. Refresh!</h2>
        </div>
      </div>
    </li>
  </ul> <!-- End of the brilliant timeline css -->

</div> <!-- End of this angular page -->
